<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BerlinInfo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BerlinInfo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BrandenburgGateActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".BerlinWallActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".ReichstagActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".MuseumIslandActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".CharlottenburgPalaceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".BerlinCathedralActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".AlexanderplatzActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".PotzdamerPlatzActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".CheckpointCharlieActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".BerlinZooActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".TvTowerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".HolocaustMemorialActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".UnterDenLindenActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".KaiserWilhelmChurchActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".GropiusBauActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".TempelhofAirportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".HackescherMarktActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".SpandauCitadelActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".TreptowerParkActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

        <activity
            android:name=".EastSideGalleryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BerlinInfo" />

    </application>

</manifest>